html {
    background-color: #FFEFBA;
}

header li {
    display: inline-block;
    margin-right: 10px;
    color: black;
    transition: transform 0.3s;
  }

  header li:hover {
    transform: scale(1.2);
  }

h1 {
    color: red;
}

.producto {
    display: inline-block;
    width: 300px;
    text-align: center;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
  }

  .imagen-producto {
    height: 300px;
    background-size: cover;
    background-position: center;
  }

  .producto p {
    margin: 5px 0;
  }

  .boton-compra {
    display: inline-block;
    padding: 8px 16px;
    background-color: blue;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
  }

  .boton-compra:hover {
    background-color: darkblue;
  }

  .comentario
{
background-color: #f2f2f2;
padding: 100px;
margin-bottom: 100px;
}